<!--
  Generated template for the ForumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><div style="color: white">Forum</div></ion-title>
    <ion-buttons end>

      <button ion-button end (click)="refresh()" id="refresh" *ngIf="forum.isFetching == false"> <ion-icon name="refresh" style="color: #5295ff; margin-right: 10px; font-size: 40px"></ion-icon> </button>
      <ion-spinner name="bubbles" id="spinner" *ngIf="forum.isFetching"></ion-spinner>

      <button ion-button end (click)="openPopover($event)"> <ion-icon name="more"></ion-icon> </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #0F0F11;">
  <ion-card *ngFor="let post of PostList" class="card">
    <ion-item style="background-color: #39393B">
      <ion-avatar item-start>
        <img src="{{getUserObject(post.UserId).ImageURL}}">
      </ion-avatar>
      <h2 style="color: white;">{{CurrentPoster.First_Name}} {{CurrentPoster.Last_Name}}</h2>
    </ion-item>

    <ion-card-content>
      <p style="color: white;">{{post.PostTitle}}</p>
      <br>
      <p style="color: white;">{{post.Post}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small class="smallButtonColor" (click)="gotIt(post)">
          <ion-icon name="thumbs-up" [ngClass]="youGotIt ? 'Gold' : 'Blue'"></ion-icon>
          <div>{{getGotItCount(post)}} Got It</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small class="smallButtonColor">
          <ion-icon name="text"></ion-icon>
          <div>{{getCommentCount(post)}} Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{getTimeSince(post.Epoch)}} ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
