page-forum {

  .smallButtonColor {
    color: #5CB3E1;
  }

  .card {
    background-color: #39393B;
    color: white;
  }

  .toolbar-background {
    background-color: black;
  }

  .gridStyle {
    width: 100%;
    color: white;
  }

  .filterButton {
    font-size: 10px;
    width: 60px;
    background: black;
  }

}
