page-forum {

  .smallButtonColor {
    color: #5CB3E1;
  }

  .card {
    background-color: #39393B;
    color: white;
  }

  .toolbar-background {
    background-color: black;
  }

  .gridStyle {
    width: 100%;
    color: white;
  }

  .filterButton {
    font-size: 10px;
    width: 60px;
    background: black;
  }

  .endDelete {
    display: block;
    text-align: center;
  }

  .endDeleteBtn {
    background: none;
    color: red;

  }

  .rotateDelete {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .buttonCss {

    button.alert-button:nth-child(1){
      color: white;
      background: red;
    }

    button.alert-button:nth-child(2){
    }
  }

  .gold {
    color: #FFDF00;
  }

  .blue {
    color: #5CB3E1;
  }

  ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #FFDF00 !important;
    fill: #FFDF00 !important;
  }

  #posterName:hover {
    cursor: pointer;
  }


}
