<!--
  Generated template for the ViewMemberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button ion-button="arrow-back" class="cancelBtn" (click)="cancel()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button end (click)="setDeleteState()"> <ion-icon name="remove-circle" [ngClass]="this.deleteState ? 'deleting' : 'notDeleting'"></ion-icon> </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card class="card">
    <ion-item color="secondary">
      <ion-avatar item-start>
        <img src="{{CurrentPoster.ImageURL}}"/>
      </ion-avatar>
      <h2 class="light">{{CurrentPoster.First_Name}} {{CurrentPoster.Last_Name}}</h2><h3 class="commentDate light">{{this.tools.getTimeSince(Post.Epoch)}}</h3>

    </ion-item>

    <ion-card-content>
      <p class="light" [innerHTML]="Post.Title"></p>
    </ion-card-content>

  </ion-card>

  <div class="commentBody">
    <div *ngFor="let comment of Post.Comments">
      <ion-item no-lines class="identifier" >
        <ion-avatar item-start class="commentAvatar">
          <img *ngIf="!canDelete()" src="{{getUserObject(comment.UserId).ImageURL}}"/>
          <button style="background: none" (click)="deletePost(comment)">
            <ion-icon *ngIf="canDelete()" [ngClass]="deleteClickedContains(comment) ? 'rotateDelete' : ''" name="remove-circle" style="color:red; font-weight: bold; font-size:40px;"></ion-icon>
          </button>
        </ion-avatar>
        <h2 class="commentName">{{getUserObject(comment.UserId).First_Name}} {{Commenter.Last_Name}}</h2><h3 class="commentDate">{{this.tools.getTimeSince(comment.Epoch)}}</h3>
      </ion-item>
      <ion-row>
        <ion-col col-10>
          <ion-card class="commentCard">
            <ion-card-content >
              <p class="comment">
                {{comment.Post}}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-1>
          <button ion-button icon-left clear small class="smallButtonColor" (click)="likeIt(comment)">
            <ion-icon name="thumbs-up" [ngClass]="youLikedIt(comment) ? 'gold' : 'blue'"></ion-icon>
            <div>{{getLikedItCount(comment)}}</div>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>

<ion-footer class="footer">
  <ion-grid class="grid">
    <ion-row>
      <ion-col col-9>
        <ion-input class="inputBody" [(ngModel)]="commentBody" (ionFocus)="scrollToBottom()" (keyup.enter)="sendMessage()"></ion-input>
      </ion-col>
      <ion-col>
        <ion-buttons style="margin: 0;" class="ionButtons">
          <button ion-button end (click)="sendMessage()" [disabled]="(this.commentBody == '')" class="sendBtn"> Send </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
