page-login {

  .Logo {
    margin-top: 15px;
    width: 75px;
    height: 75px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Credentials {
    width: 100%;
    max-width: 300px;
    font-size: 12px;
  }

  .floating {

  }

  .Login {
    opacity: 0.7;
    height: 30px;
    width: 100%;
    max-width: 300px;
    background-color: color($colors, primary);
    color: color($colors, secondary);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
  }

  .nodeSelector {
    opacity: 0.7;
    text-decoration: none;
    height: 30px;
    width: 100%;
    max-width: 300px;
    background: color($colors, primary);
    color: color($colors, secondary);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 14px;
  }

  .mediaGrid {
    margin-top: 30px;
    text-align: center;
  }

  .mediaCell {
    text-align: center;
    margin-left: 40px;
  }

  .homeFab {
    background: none;
    border: 1px solid color($colors, primary);
  }

}
