page-forum-comments {

  .toolbar-background {
    background-color: black;
  }

  .card {
    background-color: #39393B;
    color: white;
  }

  .commentCard {
    background-color: #39393B;
    color: white;
    width: 70%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-top: 0;
  }

  .commentName {
    font-size: 14px;
    color: white;
  }

  .comment {
      font-size: 12px;
      color: white;

  }

  .identifier {
    background-color: #0F0F11;
    padding: 0;
    margin-bottom: 0;
  }

  .footer {
    background: #39393B;
    position: fixed;
  }

  .commentBody {
    margin-bottom: 100px;
  }

  .sendBtn {
    height: 25px;
    vertical-align: center;
    horiz-align: center;
    text-align: center;
    align-content: center;
  }

  .ionButtons {
    vertical-align: center;
    horiz-align: center;
    text-align: center;
    align-content: center;
  }

  .inpuBody {
    line-height: 0;
    background: #0F0F11;
    border-radius: 25px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;

  }

  .grid {
    margin: 0;
    padding: 0;
  }

  .commentDate {
    color: white;
    float: right;
  }

  .endDelete {
    display: block;
    text-align: center;
  }

  .endDeleteBtn {
    background: none;
    color: red;

  }

  .rotateDelete {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .deleting {
    color: red;
    font-size: 16px;
  }

  .notDeleting {
    color: #5CB3E1;
    font-size: 15px;
  }
  .deleting:hover {
    font-size: 18px;
  }
}
