page-view-member {



  .tableImage {
    width: 200px;
    height: 200px;
  }
  .toolbar-background {
    background-color: black;
  }

  .ProfileCell {
    color: white;
    padding: 10px;
  }

  .ProfileCellA {
    color: white;
    padding: 10px;
    font-style: italic;
  }
}
