page-poll {

  .endDelete {
    display: block;
    text-align: center;
  }

  .endDeleteBtn {
    background: none;
    color: red;

  }

  .card {
    background-color: #39393B;
    border-radius: 10px;
  }

  .smallButtonColor {
    color: color($colors, primary);
  }
  .rotateDelete {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .filterButton {
    font-size: 10px;
    width: 60px;
    background: black;
  }

  .buttonCss {

    button.alert-button:nth-child(1){
      color: white;
      background: red;
    }

    button.alert-button:nth-child(2){
    }
  }

  .gold {
    color: #FFDF00;
  }

  .blue {
    color: color($colors, primary);
  }

  ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #FFDF00 !important;
    fill: #FFDF00 !important;
  }

  #posterPic:hover {
    cursor: pointer;
  }

  .percentDisplay {
    font-size: 10px;
    font-style: italic;
    float:right;
    margin-right: 20px;
  }

  .light {
    color: color($colors, light);
  }

}
