<!--
  Generated template for the MembersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title><div style="color: white">Members</div></ion-title>
    <button></button>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: #39393B">

  <ion-list id="MemberList">
    <ion-item *ngFor="let item of userList" style="background-color: #39393B" (click)="ViewUser(item)">
      <img class= "ImageDisplay" src="{{item.ImageURL}}" /> <br/>
      <div class="ImageName"> {{item.First_Name}} &nbsp; {{item.Last_Name}}</div>
      <div class ="ImageDetails">{{item.Degree}}</div>
      <div class="ImageDetails" *ngIf="item.Position != 'Brother'">{{item.Position}}</div>
    </ion-item>
  </ion-list>


</ion-content>
